/*       DEBUG       

.debug header{
    background-color: black;
}

.debug .nav_header{
    background-color: aliceblue;
    width: 20%;
    height: 50%;
}

.debug .debug_a_size{
    background-color: orange;
    width: 50px;
    height: 100%;
}



.debug .jumbotron{
    background-color: rgb(252, 255, 159);
    height: 500px; 
}

.debug .title{
    height: 100px;
    width: 100%;
}

.debug .jumbotron_description_container{
    height: calc(100% - 100px);
}

.debug .jumbotron_description{
    background-color: rgb(183, 220, 220);
    height: 100%;
}

.debug .jumbotron_img{
    background-color: rgb(162, 239, 239);
    height: 100%;
}



.debug .section_container{
    margin: 30px 0;
    background-color: rgb(255, 63, 114);
}

*/


.debug .generic_h3_title{
    height: 30px;
    background-color: rgb(35, 35, 35);
    color: white;
}

.debug .generic_h4_title{
    height: 20px;
    background-color: rgb(151, 151, 151);
    color: white;
}

.debug .generic_h6_title{
    height: 30px;
    background-color: rgb(111, 173, 83);
    color: white;
}

.debug .plan_choice {
    background-color: rgb(255, 218, 163);
    height: 50px;
}

.debug .col_container{
    margin-top: 50px;
}

.debug .col{
    background-color: #B4D0E7;
    height: 300px;
}

.debug .team_container{
    height: 200px;
    background-color: blue;
}

.debug .contact_partner_container{
    height: 300px;
}

.debug .contact_img_container{
    background-color: bisque;
}

.debug .contact_description_container{
    background-color: rgb(163, 173, 173);
}

.debug .operation_img{
    height: 150px;
}


.debug .partner_link_container{
    height: 200px;
    background-color: aqua;
    margin: 100px 0;
}


.debug .big_square{
    background-color: grey;

}

.debug .small_square{
    background-color: aqua;
    border: 1px black solid;
}


.debug .free_trial{
    height: 200px;
    background-color: #B4D0E7;
}

.debug #free_trial_title{
    color: #640C2A;
}

.debug .free_trial_bttn{
    background-color: aliceblue;
}


.debug .faq_container{
    background-color: blanchedalmond;
}

.debug .question{
    height: 40px;
}


/*    fine   DEBUG   */






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

main{
    margin-top: 60px;
}

/* GENERIC Rules */
.generic_font{
    font-size: 12px;
}

.txt_dec_none{
    text-decoration: none;
}


.generic_h2{
    font-size: 20px;
}



/* end GENERIC Rules */

.nav_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_header a{
    color: black;
    padding: 10px;
}


.bttn{
    padding: 7px 10px;
    width: max-content;
}

.blue_bttn{
    background-color: #0061FF;
    color: white;
}
#blue_bttn_id{
    background-color: #0061FF;
    color: white;    
}

.bttn_margin{
    margin-bottom: 35px;
}

.jumbotron_container{
    background-color: #B4D0E7;
}
.jumbotron{
    width: 60%;
    margin: auto;
}

.jumbotron_title h1{
    font-size: 60px;
    padding: 80px 0 40px;
}

.fa-arrow-down{
    font-size: 35px;
    margin: 10px 0;
}


.jumbotron_description_container{
    display: flex;
    width: 100%;
}

.jumbotron_description{
    width: 30%;
}

.jumbotron_description span {
    display: block;
    margin-bottom:35px;
}

.jumbotron_img{
    width: 70%;
    margin-bottom: -30px;
}



.indoor_margin{
    margin: 0 20px;
}

.indoor_main{
    width: 50%;
    margin: auto;
}


.generic_h6_title{
    text-align: center;
}


.col_container{
    display: flex;
    justify-content: space-between;
    
}

.col{
    width: calc(100% - 40px);
    margin: 0 20px;
}


.contact_partner_container{
    display: flex;
    margin: 30px 20px;
}

.contact_img_container{
    width: 60%;
}

.contact_description_container{
    width: 40%;
}


.partner_logo_container{
    width: 100%;
    display: flex;
}

.partner_link_container{
    margin-top: 150px 0;
}


.big_square{
    width: calc(100vw/3);
    height: calc(100vw/3);
    display: flex;
    flex-wrap: wrap;
}

.small_square{
    width: 50%;
    height: 50%;
}

.free_trial{
    display: flex;
    align-items: center;
}

#free_trial_title{
    color: #640C2A;
    width: 60%;
}

.free_trial_bttn{
    width: 40%;
}

.faq_container{
    margin: 50px 0;
}


.footer_container{
    width: 60%;
    margin: auto;
    background-color: aqua;
}

.footer_col{
    width: calc(100%/6 - 40px);
    background-color: rgb(42, 148, 148);
    margin: 0 20px;
    height: 200px;
}


.footer_top{
    display: flex;
}

.footer_bottom{
    height: 100px;
}