/*       DEBUG       */

.debug header{
    background-color: black;
}

.debug .nav_header{
    background-color: aliceblue;
    width: 20%;
    height: 50%;
}

.debug .debug_a_size{
    background-color: orange;
    width: 50px;
    height: 100%;
}

.debug .jumbotron{
    background-color: rgb(252, 255, 159);
    height: 500px; 
}

.debug .title{
    height: 100px;
    width: 100%;
}

.debug .jumbotron_description_container{
    height: calc(100% - 100px);
}

.debug .jumbotron_description{
    background-color: rgb(183, 220, 220);
    height: 100%;
}

.debug .jumbotron_img{
    background-color: rgb(162, 239, 239);
    height: 100%;
}

/*    fine   DEBUG   */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
}

.nav_header{
    display: flex;
    justify-content: space-between;
}



.jumbotron_container{
    background-color: #B4D0E7;
}
.jumbotron{
    width: 60%;
    margin: auto;  
}

.jumbotron_description_container{
    display: flex;
    width: 100%;
}

.jumbotron_description{
    width: 40%;
}

.jumbotron_img{
    width: 60%;
}